#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: rgb(213, 229, 234);
}
body
{
	width: 100%;
	height: 35px;
	background: rgb(200, 193, 226);
	text-align: center;
}
h3
{
	font-size: 50;
	text-decoration: underline;
	color:seashell;
}

.email-form {
	max-width: 350px;
	margin: auto;
	padding: 15px;
	background-color: #ebdff5;
  }
  
  .email-form h2 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .email-form label {
	font-size: 18px;
	display: block;
	margin-bottom: 8px;
  }
  
  .email-form input[type="email"],
  .email-form textarea {
	font-size: 16px;
	padding: 8px;
	width: 90%;
	border: 2px solid #c6dadd;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 20px;
  }
  
  .email-form textarea {
	height: 70px;
  }
  
  .email-form button[type="submit"] {
	background-color: #af4c8b;
	color: white;
	font-size: 18px;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  .email-form button[type="submit"]:hover {
	background-color: #3e8e41;
  }

  